@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  src: url(../assets/fonts/Inter.var.woff2);
}

@layer base {
  a:link, a:visited{
    @apply no-underline text-pink-700 dark:text-pink-500 hover:underline hover:text-pink-800;
  }
  input {
    dark:text-[#f6f6f6]
  }
  h1,
  h2,
  h3,
  h4 {
    @apply dark:text-[#f6f6f6]
  }
}

@layer components {
  #commentForm input, textarea{
    @apply border-2 border-gray-300 dark:border-none
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hide {
  display: none;
}
.show {
  display: block;
}
